<div>
        <button id="testButton" type="button">Console Log Button</button>
    {{#if resolvedPage}}
        <button id="viewUnresolved" type="button">View Unresolved Tasks</button>
    {{/if}}
    {{#unless resolvedPage}}
        <button id="viewResolved" type="button">View Resolved Tasks</button>
    {{/unless}}
    <div>
        {{#each renderedTasks as |task|}}
        <h4>{{task.title}}</h4>
        <p><b>Description: </b>{{task.body}}</p>
        {{#if task.project}}
        <p><b>Project:</b> {{task.project}}</p>
        {{/if}}
        {{#if task.owner}}
        <p><b>Owner:</b> {{task.owner}}</p>
        {{/if}}
        <p><b>Created On:</b> {{task.created_on}}</p>
        {{#if task.resolved_on}}
        <p><b>Resolved On:</b> {{task.resolved_on}}</p>
        {{/if}}
        {{#if task.notes}}
            {{#each task.notes as |note|}}
            <p><b>Note:</b> {{note.body}}</p>
            {{/each}}
        {{/if}}
        {{#unless task.resolved}}
        <div>
        <p><b>Add Note:</b></p>
        <p>Note Title: <input type="text" class="noteTitle"></p>
        <p>Note Body: <input type="text" class="noteBody"</p>
        <p><button class="addNoteButton" type="button" value="{{task._id}}">Add New Note</button>
        <button class="markResolved" type="button" value="{{task._id}}">Mark Resolved</button></p>
        </div>
        {{/unless}}
        {{/each}}
    </div>
    {{#unless resolvedPage}}
    <form>
        <h4>Add a new Task</h4>
        <p>Title: <input type="text" id="taskTitle"></p>
        <p>Description: <input type="text" id="taskBody"></p>
        <p>Project: 
            <select name="projects" id="projectsDropdown">
                {{#each projectList as |project|}}
                    <option value = "{{project.title}}">{{project.title}}</option>
                {{/each}}
            </select>
        </p>
        <button type="button" id="taskSubmitButton">Submit</button>
    </form>
    {{/unless}}

</div>